* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Inter, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Layout */
.grid {
    display: grid;
    min-height: calc(100vh);
}

@media (orientation: landscape) {
    .grid {
        grid-template-columns: minmax(0,1fr) 420px;
        grid-template-rows: 1fr;
    }
}
@media (orientation: portrait) {
    .grid {
        grid-template-rows: 52vh 48vh;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 980px) and (orientation: portrait) {
    .grid {
        grid-template-rows: 58vh 42vh;
    }
}


#map { height: 100%; width: 100%; }
.panel {
    height: 100%;
    overflow: auto;
}
#list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.item {
    padding: 12px 16px;
    background-color: white;
    border-radius: 8px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    margin: 8px 8px 0 8px;
}
.item:hover {
    background-color: #eee;
}
.item-location, .item-day {
    font-size: 13px;
    color: #555;
}
.item-title {
    /* one line elipses */
    font-size: larger;
    font-weight: 600;
    margin-bottom: 4px;
}
.item-booker, .item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.leaflet-control-attribution.leaflet-control {
    display: none;
}